<form [formGroup]="superHeroForm" (ngSubmit)="onSubmit()">
  <app-form-card
    class="shipping-card"
    [title]="'superHeroes.detail.title' | translate"
  >
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.name' | translate
          }}</mat-label>
          <input
            type="text"
            [placeholder]="
              'superHeroes.detail.form.namePlaceholder' | translate
            "
            formControlName="name"
            matInput
            ngxErrorMessage
            appUpperCase
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.age' | translate
          }}</mat-label>
          <input
            type="number"
            [placeholder]="'superHeroes.detail.form.agePlaceholder' | translate"
            formControlName="age"
            matInput
            ngxErrorMessage
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.genre' | translate
          }}</mat-label>
          <mat-select
            [placeholder]="
              'superHeroes.detail.form.genrePlaceholder' | translate
            "
            formControlName="genre"
            ngxErrorMessage
          >
            <mat-option *ngFor="let genre of genres" [value]="genre.value">
              {{ genre.key | dropdownTranslate: 'globals.enums.genres' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.specialty' | translate
          }}</mat-label>
          <textarea
            [placeholder]="
              'superHeroes.detail.form.specialtyPlaceHolder' | translate
            "
            formControlName="specialty"
            matInput
            ngxErrorMessage
          ></textarea>
          <mat-hint align="end"
            >{{ superHeroControls.specialty.value?.length }} /
            {{ controlSize.textarea.max }}</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.height' | translate
          }}</mat-label>
          <input
            type="number"
            [placeholder]="
              'superHeroes.detail.form.heightPlaceholder' | translate
            "
            formControlName="height"
            matInput
            ngxErrorMessage
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{
            'superHeroes.grid.columns.weight' | translate
          }}</mat-label>
          <input
            type="number"
            [placeholder]="
              'superHeroes.detail.form.weightPlaceholder' | translate
            "
            formControlName="weight"
            matInput
            ngxErrorMessage
          />
        </mat-form-field>
      </div>
    </div>
    <app-form-img-upload
      [formControl]="superHeroControls.picture"
      [isUploading]="isUploading"
      [(picture)]="picture"
      (fileUploaded)="onFileUploaded()"
    ></app-form-img-upload>
    <app-form-card-actions
      actions
      [isEditOrView]="isEditOrView"
      [view]="view"
    ></app-form-card-actions>
  </app-form-card>
</form>
