<form [formGroup]="superHeroForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{
        "superHero.detail.title" | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.name" | translate
            }}</mat-label>
            <input
              type="text"
              matInput
              [placeholder]="
                'superHero.detail.form.namePlaceholder' | translate
              "
              formControlName="name"
              ngxErrorMessage
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.age" | translate
            }}</mat-label>
            <input
              type="number"
              matInput
              [placeholder]="'superHero.detail.form.agePlaceholder' | translate"
              formControlName="age"
              ngxErrorMessage
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.genre" | translate
            }}</mat-label>
            <mat-select
              [placeholder]="
                'superHero.detail.form.genrePlaceholder' | translate
              "
              formControlName="genre"
              ngxErrorMessage
            >
              <mat-option *ngFor="let genre of genres" [value]="genre.value">
                {{ genre.key | dropdownTranslate: "globals.enums.genres" }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.specialty" | translate
            }}</mat-label>
            <textarea
              matInput
              [placeholder]="
                'superHero.detail.form.specialtyPlaceHolder' | translate
              "
              formControlName="specialty"
              ngxErrorMessage
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.height" | translate
            }}</mat-label>
            <input
              type="number"
              matInput
              [placeholder]="
                'superHero.detail.form.heightPlaceholder' | translate
              "
              formControlName="height"
              ngxErrorMessage
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{
              "superHero.grid.columns.weight" | translate
            }}</mat-label>
            <input
              type="number"
              matInput
              [placeholder]="
                'superHero.detail.form.weightPlaceholder' | translate
              "
              formControlName="weight"
              ngxErrorMessage
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        {{ "globals.buttons.save" | translate }}
      </button>
      <button mat-raised-button type="button" (click)="goBack()">
        {{ "globals.buttons.cancel" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
