/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  padding: 1%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-toolbar {
  position: sticky;
  top: 0;
  height: auto;
  z-index: 1000;
}

.error-message {
  position: absolute;
  margin-block-start: .75rem;
  padding: 0 1em;
}
