@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 1%;
}

.error-message {
  display: block;
  position: absolute;
  margin-block-start: 0.75rem;
  padding: 0 1em;
}

img.picture {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0 0.5rem 0;
}

button {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);

  body {
    color: #ddd;
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #333;
    background-color: whitesmoke;
  }
}
